body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.titulo {
    text-decoration: underline;
    text-transform: bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: 'Lilita One', sans-serif;
    outline-color: rgb(255, 0, 0);
}
.espaco {
  padding-left: 50px;
}
button {
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 80px;
    transition: 0.3s;
}
button:hover {
    font-size: 20px;
    background-color: white;
    color: black;
    height: 70px;
    width: 100px;
    transition: 0.3s;
}